* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --main-color: #79c142;
  --bg-color-1: #020916;
  --bg-color-2: #05132e;
  --text-color-1: #fff;
  --text-color-2: #dee2e6;
  --light-text: #cbcbcd;
  --border-color: #242946;

}

body {
  background-color: var(--bg-color-1);
  color: var(--text-color-1);
}

.btn {
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: var(--main-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.main_login {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}